# These paths may transform when this repo is mirrored. For example, the github
# mirror of this repo should reference the github mirror of submodules.
#
# transformation version: 1
#
[submodule "boringssl"]
	path = third_party/boringssl/src
	url = https://pigweed.googlesource.com/third_party/boringssl/boringssl
	branch = main
[submodule "mbedtls"]
	path = third_party/mbedtls/src
	url = https://pigweed.googlesource.com/third_party/github/ARMmbed/mbedtls.git
	branch = main
[submodule "cn-cbor"]
	path = third_party/cn-cbor/src
	url = https://pigweed.googlesource.com/third_party/github/jimsch/cn-cbor.git
	branch = main
[submodule "cose-c"]
	path = third_party/cose-c/src
	url = https://pigweed.googlesource.com/third_party/github/cose-wg/COSE-C.git
	branch = main
[submodule "pigweed"]
	path = third_party/pigweed/src
	url = https://pigweed.googlesource.com/pigweed/pigweed
	branch = main
